@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Nanum+Gothic+Coding&family=Baloo+Paaji&family=Gothic+A1:wght@500&family=Do+Hyeon&family=Jua&family=Noto+Serif+KR:wght@400&family=Fredoka+One&display=swap');

:root {
  --roboto: 'Roboto', sans-serif;
  --dohyeon: 'Do Hyeon', sans-serif;
  --jua: 'Jua', sans-serif;
  --noto: 'Noto Serif KR', serif;
  --ballo: 'Baloo Paaji', cursive;
  --nanum: 'Nanum Gothic Coding', monospace;

  --main-color: rgb(255, 82, 82);
}

* {
  color: #343a40;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
